<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/main.css">

    <title>Willi Team Website</title>
</head>
<body style="padding: 0; margin: 0;">
    
    <style>
        *{
            padding: 0;
            margin: 0;
        }
    </style>

    <div class="handler">

        <div class="infoPanel">
            <form action="/login" method="post">

                <h1>Login
                    
                    <center>

                        <% for(const key in flash){ %>
                            <p class="flash flash-<%= key %>">
                                <%= flash[key] %>
                            </p>
                        <% } %>
                    </center>

                </h1>

                
                <div class="inputs">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                </div>
                
                <div class="buttons">
                    <button>Login</button>
                </div>

            </form>
        </div>

    </div>

</body>
</html>