<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Willi Website</title>

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/fonts.css">
    </head>
    <body>
        <%- include("./templates/header.ejs") %>

        <div class="main-element">
            <div class="m-right">
                <p class="m-r-title">ویلی تیم</p>
                <p class="m-r-description">A team working on Disocrd Verified Bot Dev & Full Stack</p>
            </div>
            <div class="m-left">
                <img src="/img/headerPicture.png" alt="Header picture of willi team website">
            </div>
        </div>
    </body>
</html>