<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Willi Website</title>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/socials.css" />
  </head>
  <body>
    <%- include("./templates/header.ejs") %>

    <div class="main-handler">
      <div class="handler">
        <a
          href="https://instagram.com/shayan._.williams"
          class="social"
          id="instagram"
          >
          <img src="/img/instagram.webp" alt="Instagram webp icon" class="social-image">
          
          <p class="social-text">Instagram</p>
          </a>

        <a
          href="https://discord.com/invite/ZSaNmq5W37"
          class="social"
          id="discord"
          >
          <img src="/img/discord.png" alt="Discord webp icon" class="social-image">
          <p class="social-text">Discord</p>
          </a
        >

        <a
          href="https://youtube.com/c/Code-Williams"
          class="social"
          id="youtube"
          >
          <img src="/img/youtube.png" alt="YouTube webp icon" class="social-image">
          <p class="social-text">YouTube</p>
          </a>

        <a href="https://t.me/wil1i" class="social" id="telegram">
          <img src="/img/telegram.webp" alt="Telegram webp icon" class="social-image">
          <p class="social-text">Telegram</p>
        </a>

        <a href="https://wa.me/+989103438399" class="social" id="whatsapp"
          >
          <img src="/img/whatsapp.webp" alt="WhatsApp webp icon" class="social-image">
          <p class="social-text">WhatsApp</p>
          </a>
      </div>
    </div>
  </body>
</html>
