<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Willi Website</title>

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/uploader.css">
        <link rel="stylesheet" href="/css/fonts.css">
    </head>
    <body>
        <%- include("./templates/header.ejs") %>

        <% for(const key in flash){ %>
                          
            <span role="alert" class="flash">
              <%= flash[key] %>
            </span>

          <% } %>

          <div class="uploader-main">
            <form action="/uploader" method="post" enctype="multipart/form-data" class="form-input">

                <div class="services-right">
                    <input type="text" name="name"  placeholder="نام" value="<%= (user) ? `${user.firstName} ${user.lastName}` : '' %>" required class="services-inp">
                    <textarea type="text" name="description" placeholder="توضیحات" required class="services-inp"> </textarea>

                    <input type="file" name="file" class="uploadFile" id="file2" >
                    <button type="submit" class="submit">ارسال فایل</button>
                </div>

            </form>
        </div>
    </body>
</html>