<header>
    <div style="display: flex;justify-content: space-between;margin: 10px 10px 0 10px;">
        <p>Works : <%= works.length %></p>
        <p>Welcome <%= user.username %></p>
        <p>Rank : <%= user.userRank %></p>
    </div>    
</header>