<style>
    #go-home{
        position: fixed; 
        right: 10px; 
        top: 10px;
        color: white;
    }

    #go-home:hover{
        color: #ffc107;
    }
</style>

<a href="/" id="go-home">Go to home page</a>