<link rel="stylesheet" href="/css/header.css">

<header>
    <div class="header-right">
        <div class="header-right-right">
            <% if(user){ %>

                <a href="/dashboard" class="auth-a">
                    داشبورد
                </a>

            <% }else{ %>

                <a href="/login" class="auth-a">
                    ورود
                </a>

            <% } %>
        </div>

        <div class="header-right-center">
            <ul class="header-rc-ul">
                <li class="header-rc-li">
                    <a href="">درباره ما</a>
                </li>
                <li class="header-rc-li">
                    <a href="">فروشگاه</a>
                </li>
                <li class="header-rc-li">
                    <a href="">خدمات</a>
                </li>
            </ul>
        </div>
    </div>

    <% if(student){ %>
        <div class="header-left">
            <p style="float: left;">پنل کلاسی <%= user.username %></p>
        </div>
    <% } %>
</header>