<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Willi Web</title>
    </head>
    <body>
        
        <form action="/bots/register" method="post">
            <input type="text" name="botName" placeholder="Bot Name">
            <input type="text" name="botOwner" placeholder="Bot Owner">
            <input type="text" name="botId" placeholder="Bot ID">

            <button type="submit">Register Bot</button>
        </form>
            
    </body>
</html>